.home-bg-container {
  width: 1440px;
  height: 3037px;
  left: 0px;
  top: 0px;
  background-color: #161625;
  margin: auto;
}
.home-search-field {
  width: 824px;
  height: 72px;
  margin-top: 64px;
  margin-left: 308px;
  background-color: #2f2f43;
  display: flex;
  align-items: center;
  padding: 24px;
  color: #94a3b8;
}
.search-field {
  background-color: transparent;
  border: none;
  height: 24px;
  width: 105px;
  flex-grow: 1;
}

.search-icon {
  margin-right: 8px;
}

.confirmed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff073a;
}
.active-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #007bff;
}

.stats-icon {
  font-size: 38px;
}
.recovered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #28a745;
}
.deceased-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
}
.statistics-container {
  display: flex;
  align-items: center;
  margin-top: 112px;
  justify-content: space-evenly;
}
.table-container {
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  margin: auto;
  min-width: 1146px;
  margin-top: 106px;
}
.table-header-row {
  font-size: 16px;
  color: #f8fafc;
}
.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}
.table-row-data {
  padding: 10px;
}

.order {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

.table-header-title-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  background-color: #94a3b8;
  margin-right: 10px;
}

.table-header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  background-color: #94a3b8;
  margin-right: 10px;
}

.table-header-container {
  width: 22%;
}

.table-header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}

.state-wise-data-list-container {
  display: flex;
  flex-direction: column;
}
.other-tables {
  padding: 0;
  list-style-type: none;
}

.all-states-table {
  width: 95%;
  margin: auto;
  background: #1e1e30;
  border: 2px solid #a5c2eb;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: flex-start;
}

.table-header {
  border-bottom: 2px solid #b4c8e2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.state-name-heading {
  width: 22%;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
